body {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

p {
  margin: 1em;
}

h1 {
  font-family: 'Handlee';
  text-align: center;
}

#about {
  width: 600px;
  margin: 6em auto;
}

.css {
  display: block;
  text-shadow: 1px 1px 0 black;
  background-color: #333333;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#000000)); /* Safari 4+, Chrome */
  background-image: -webkit-linear-gradient(top, #333333, #000000); /* Chrome 10+, Safari 5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, #333333, #000000); /* Firefox 3.6-15 */
  background-image:      -o-linear-gradient(top, #333333, #000000); /* Opera 11.10-12.00 */
  background-image:         linear-gradient(to bottom, #333333, #000000); /* Firefox 16+, IE10, Opera 12.50+ */
  color: white;
  width: 600px;
  margin: 2em auto 2em;
  padding: 1em;
  border-color: rgba(255, 255, 255, 0.3);
  border-width: 3px;
  border-style: solid;
  border-radius: 10px;
  white-space: pre;
}

#main {
  border-color: blue;
  border-width: 5px;
  border-style: none solid solid;
}

#main:before {
  content: "<div id=\"main\">";
  display: block;
  background-color: blue;
  color: white;
  padding: 5px 0;
  text-shadow: 1px 1px 0 black;
}

.prev, .next {
  font-family: 'sans';
  background-color: black;
  color: white;
  border-radius: 1em;
  font-size: 1.5em;
  padding: .2em .3em;
  text-decoration: none;
  position: fixed;
  bottom: 1em;
  border: solid black 2px;
  text-shadow: 2px 2px 0 black;
}

.prev:hover {
  background-color: gray;
}

.next:hover {
  background-color: blue;
}

.prev {
  left: 1em;
}

.next {
  right: 1em;
}