<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% if page.title != nil %}
      <title>{% localize global.short_title %} - {% localize page.title %}</title>
    {% else %}
      <title>{% localize global.title %}</title>
    {% endif %}
    <meta name="viewport" content="width=600">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/code.css"/>
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="/images/logo.png" />
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35945753-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>
  </head>
  <body class="{% rtl %}">

    <div id="logo">
      <a href="/">
        <img src="images/logo.png">
        <span>{% localize global.title %}</span>
      </a>
    </div>

    <div id="menu">
      <a class="home-link" href="/">{% localize global.home %}</a>
      <a href="toc.html">{% localize global.toc %}</a>
    </div>

    <div id="container">

      <h1 class="content">{% localize page.title %}</h1>

      {{ content }}

      <div class="nav-wrapper">

        {% if page.prev %}
          <a class="nav prev" href="{{ page.prev }}.html">{% localize global.previous %}</a>
        {% endif %}

        {% if page.next %}
          <a class="nav next" href="{{ page.next }}.html">{% localize global.next %}</a>
        {% endif %}

      </div>

      {% if page.noFooter != true %}
        <footer>
          <a href="https://github.com/incompl/csslayoutsite/issues">{% localize global.feedback %}</a>
        </footer>
      {% endif %}

    </div>

    <div id="share">
      <li>
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Flearnlayout.com%2F&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;font&amp;colorscheme=light&amp;action=like&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:110px; height:21px;" allowTransparency="true"></iframe>
      </li>
      <li>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://learnlayout.com/">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      </li>
    </div>

  </body>
</html>
