<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% if page.title != nil %}
      <title>{% localize global.short_title %} - {% localize page.title %}</title>
    {% else %}
      <title>{% localize global.title %}</title>
    {% endif %}
    <meta name="viewport" content="width=600px">
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/code.css"/>
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="/images/logo.png" />
    <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-35945753-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

    </script>
  </head>
  <body>

    <div id="logo">
      <a href="/">
        <img src="images/logo.png">
        <span>{% localize global.title %}</span>
      </a>
    </div>

    <div id="menu">
      <a class="home-link" href="/">{% localize global.home %}</a>
      <a href="toc.html">{% localize global.toc %}</a>
    </div>

    <h1 class="content">{% localize page.title %}</h1>

    {{ content }}

    <div class="nav-wrapper">

      {% if page.prev %}
        <a class="nav prev" href="{{ page.prev }}.html">{% localize global.previous %}</a>
      {% endif %}

      {% if page.next %}
        <a class="nav next" href="{{ page.next }}.html">{% localize global.next %}</a>
      {% endif %}

    </div>

    {% if page.noFooter != true %}
      <footer>
        <a href="https://github.com/incompl/csslayoutsite/issues">{% localize global.feedback %}</a>
      </footer>
    {% endif %}

  </body>
</html>