---
layout: default
title: "about this site"
---

<style>
  #credits {
    text-align: center;
  }
  #credits img {
    vertical-align: middle;
    margin: 0 20px;
  }
  #credits a:hover {
    background-color: transparent;
  }
  .content {
    text-align: center;
  }
</style>

<div id="credits">
  <a href="http://incompl.com"><img src="http://www.gravatar.com/avatar/b8d0f1cea63b396befeeb8c74533abb6?s=300" alt="Greg Smith"></a>

  <a href="http://bocoup.com"><img src="/images/bob.png" alt="Bocoup"></a>
</div>

<div class="content">
  Lovingly crafted by <a href="http://incompl.com">Greg Smith</a> at <a href="http://bocoup.com">Bocoup</a>.
</div>