---
layout: default
title: about.title
noFooter: true
---

<style>
  #credits {
    text-align: center;
  }
  #credits img {
    vertical-align: middle;
    margin: 0 20px;
    width: 25%;
    max-width: 300px;
  }
  #credits a:hover {
    background-color: transparent;
  }
  .content {
    text-align: center;
  }
</style>

<div id="credits">
  <a href="http://incompl.com"><img src="http://www.gravatar.com/avatar/b8d0f1cea63b396befeeb8c74533abb6?s=300" alt="Greg Smith"></a>

  <a href="http://www.isaacdurazo.com/"><img src="http://gravatar.com/avatar/e44bb0d044e511cc884642650eba2475?s=300" alt="Isaac Durazo"></a>

  <a href="http://bocoup.com"><img src="/images/bob.png" alt="Bocoup"></a>
</div>

<div class="content">
  {% localize about.credits %}
</div>

<div class="content">
  <a href="https://github.com/incompl/csslayoutsite/issues">
    {% localize global.feedback %}
  </a>
</div>