---
layout: default
title: box_sizing.title
next: position
prev: box-model
num: 6
---

<style>
  .simple {
    width: 500px;
    margin: 20px auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }

  .fancy {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border: solid #6AC5AC 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
</style>

<p class="content">
  {% localize box_sizing.1 %}
</p>

{% highlight css %}
.simple {
  width: 500px;
  margin: 20px auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.fancy {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border: solid blue 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
{% endhighlight %}

<div class="simple elem">
  <span class="label">&lt;div class="simple"></span>
  <p>
    {% localize box_sizing.simple %}
  </p>
  <span class="endlabel">&lt;/div></span>
</div>

<div class="fancy elem">
  <span class="label">&lt;div class="fancy"></span>
  <p>
    {% localize box_sizing.fancy %}
  </p>
  <span class="endlabel">&lt;/div></span>
</div>

<p class="content">
  {% localize box_sizing.2 %}
</p>

{% highlight css %}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
{% endhighlight %}

<p class="content">
  {% localize box_sizing.3 %}
</p>

<p class="content">
  {% localize box_sizing.4 %}
</p>