---
layout: default
title: box_model.title
next: box-sizing
prev: max-width
num: 5
---

<style>
  .simple {
    width: 500px;
    margin: 20px auto;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }

  .fancy {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border-width: 10px;
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
</style>

<p class="content">
  {% localize box_model.intro %}
</p>

{% highlight css %}
.simple {
  width: 500px;
  margin: 20px auto;
}

.fancy {
  width: 500px;
  margin: 20px auto;
  padding: 50px;
  border-width: 10px;
}
{% endhighlight %}

<div class="simple elem">
  <span class="label">&lt;div class="simple"></span>
  <p>
    {% localize box_model.simple %}
  </p>
  <span class="endlabel">&lt;/div></span>
</div>

<div class="fancy elem">
  <span class="label">&lt;div class="fancy"></span>
  <p>
    {% localize box_model.fancy %}
  </p>
  <span class="endlabel">&lt;/div></span>
</div>

<p class="content">
  {% localize box_model.outro %}
</p>