---
layout: default
title: clearfix.title
next: float-layout
prev: clear
num: 11
---

<p class="content">
  {% localize clearfix.1 %}
</p>

<style>
  .content img {
    float: right;
  }
  .clear {
    clear: both;
  }
</style>

{% highlight css %}
img {
  float: right;
}
{% endhighlight %}

<div class="content">

  <div class="elem">
    <span class="label">&lt;div></span>
    <img src="/images/ilta.png" alt="An Image">
    <p>
      {% localize clearfix.2 %}
    </p>
  </div>

</div>

<p class="content clear">
  {% localize clearfix.3 %}
</p>

<p class="content">
  {% localize clearfix.4 %}
</p>

<style>
  .clearfix {
    overflow: auto;
  }
</style>

{% highlight css %}
.clearfix {
  overflow: auto;
}
{% endhighlight %}

<p class="content">
  {% localize clearfix.5 %}
</p>

<div class="content">

  <div class="elem clearfix">
    <span class="label">&lt;div class="clearfix"></span>
    <img src="/images/ilta.png" alt="An Image">
    <p>
      {% localize clearfix.6 %}
    </p>
  </div>

</div>

<p class="content">
  {% localize clearfix.7 %}
</p>

{% highlight css %}
.clearfix {
  overflow: auto;
  zoom: 1;
}
{% endhighlight %}

<p class="content">
  {% localize clearfix.8 %}
</p>