---
layout: default
title: column.title
next: flexbox
prev: inline-block-layout
num: 17
---

<p class="content">
  {% localize column.1 %}
</p>

<style>
  .three-column {
    padding: 1em;
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    column-count: 3;
    column-gap: 1em;
  }
</style>

{% highlight css %}
.three-column {
  padding: 1em;
  -moz-column-count: 3;
  -moz-column-gap: 1em;
  -webkit-column-count: 3;
  -webkit-column-gap: 1em;
  column-count: 3;
  column-gap: 1em;
}
{% endhighlight %}

<div class="content">
  <section class="elem three-column ipsum">
    <span class="label">&lt;div class="three-column"></span>
    <div>
      {% localize util.ipsum %}
    </div>
    <span class="endlabel">&lt;/div></span>
  </section>
</div>

<p class="content">
  {% localize column.2 %}
</p>