---
layout: default
title: display.title
next: margin-auto
prev: no-layout
num: 2
---

<p class="content">
  {% localize display.intro %}
</p>

<h2 class="content">{% localize display.block.title %}</h2>

<div class="elem">
  <span class="label">&lt;div></span>
  <p>
    {% localize display.block %}
  </p>
  <span class="endlabel">&lt;/div></span>
</div>

<div class="content">

  <h2>{% localize display.inline.title %}</h2>

  <p>
    {% localize display.inline.1 %}

      <span class="elem elem-inline"><span class="label">&lt;span></span>
        {% localize display.inline.2 %}
      <span class="endlabel">&lt;/span></span></span>

    {% localize display.inline.3 %}
  </p>

  <h2>{% localize display.none.title %}</h2>

  <p>
    {% localize display.none.1 %}
  </p>

  <p>
    {% localize display.none.2 %}
  </p>

  <div style="display:none;">You found me!</div>

  <h2>{% localize display.other.title %}</h2>

  <p>
    {% localize display.other %}
  </p>

  <h2>{% localize util.extra_credit %}</h2>

  <p>
    {% localize display.extra %}
  </p>

</div>