---
layout: default
title: "the \"display\" property"
next: margin-auto
prev: no-layout
---

<p>
  <code>display</code> is CSS's most important property for controlling layout. Every element has a default display value depending on what type of element it is. The default for most elements is usually <code>block</code> or <code>inline</code>. A block element is often called a block-level element. An inline element is always just called an inline element.
</p>

<h2>block</h2>

<div class="elem">
  <span class="label">&lt;div></span>
  <p>
    <code>div</code> is the most common block-level element. A block-level element starts on a new line and stretches out to the left and right as far as it can. Other common block-level elements are <code>p</code> and <code>form</code>, and new in HTML5 are <code>header</code>, <code>footer</code>, <code>section</code>, and more.
  </p>
  <span class="endlabel">&lt;/div></span>
</div>

<h2>inline</h2>

<p>
  <code>span</code> is the most common inline element. An inline element can

    <span class="elem elem-inline"><span class="label">&lt;span></span>
      wrap
    <span class="endlabel">&lt;/span></span></span>

  some text inside a paragraph without disrupting the flow of that paragraph. The <code>a</code> element is the most common inline element, since you use them for links.
</p>

<h2>none</h2>

<p>
  Another common display value is <code>none</code>. There are no elements that use this as their default. It is commonly used with JavaScript to hide and show elements without really deleting and recreating them.
</p>

<p>
  This is different from <code>visibility</code>. <code>display: none;</code> will not leave space where the element would have been, but <code>visibility: hidden;</code> will leave an empty space.
</p>

<div style="display:none;">You found me!</div>

<h2>other display values</h2>

<p>
  There are plenty of more exotic display values, such as <code>list-item</code> and <code>table</code>. <a href="https://developer.mozilla.org/en-US/docs/CSS/display">Here is an exhaustive list</a>. We'll discuss <code>inline-block</code> and <code>flex</code> later on.
</p>

<h2>extra credit</h2>

<p>
  As I mentioned, every element has a default display type. However, you can <em>always</em> override this! Though it wouldn't make sense to make an inline div, you can use this to customize the display of elements that have particular semantics. A common example is making inline <code>li</code> elements for horizontal menus.
</p>