---
layout: default
title: flexbox.title
next: frameworks
prev: column
num: 18
---

<p class="content">
  {% localize flexbox.1 %}
</p>

<p class="content">
  {% localize flexbox.2 %}
</p>

<p class="content">
  {% localize flexbox.3 %}
</p>

<h2 class="content">{% localize flexbox.simple.title %}</h2>

<style>
  .container {
    display: -webkit-flex;
    display: flex;
  }
  nav {
    width: 200px;
  }
  .flex-column {
    -webkit-flex: 1;
            flex: 1;
  }
</style>

{% highlight css %}
.container {
  display: -webkit-flex;
  display: flex;
}
nav {
  width: 200px;
}
.flex-column {
  -webkit-flex: 1;
          flex: 1;
}
{% endhighlight %}

<div class="container elem">
  <span class="label">&lt;div class="container"></span>

  <nav class="elem elem-red">
    <span class="label">&lt;nav></span>
    <ul>
      <li>
        <a href="flexbox.html">{% localize util.nav.1 %}</a>
      </li>
      <li>
        <a href="flexbox.html">{% localize util.nav.2 %}</a>
      </li>
      <li>
        <a href="flexbox.html">{% localize util.nav.3 %}</a>
      </li>
      <li>
        <a href="flexbox.html">{% localize util.nav.4 %}</a>
      </li>
      <li>
        <a href="flexbox.html">{% localize util.nav.5 %}</a>
      </li>
      <li>
        <a href="flexbox.html">{% localize util.nav.6 %}</a>
      </li>
    </ul>
    <span class="endlabel">&lt;/nav></span>
  </nav>

  <div class="elem elem-red flex-column">
    <span class="label">&lt;div class="flex-column"></span>

    <section class="elem elem-green">
      <span class="label">&lt;section></span>
      <p>
        {% localize flexbox.simple.1 %}
      </p>
      <span class="endlabel">&lt;/section></span>
    </section>

    <section class="elem elem-green ipsum">
      <span class="label">&lt;section></span>
      <p>
        {% localize util.ipsum %}
      </p>
      <span class="endlabel">&lt;/section></span>
    </section>

    <span class="endlabel">&lt;/div></span>
  </div>

</div>

<h2 class="content">{% localize flexbox.fancy.title %}</h2>

<style>
.initial {
  -webkit-flex: initial;
          flex: initial;
  width: 200px;
  min-width: 100px;
}
.none {
  -webkit-flex: none;
          flex: none;
  width: 200px;
}
.flex1 {
  -webkit-flex: 1;
          flex: 1;
}
.flex2 {
  -webkit-flex: 2;
          flex: 2;
}
</style>

{% highlight css %}
.container {
  display: -webkit-flex;
  display: flex;
}
.initial {
  -webkit-flex: initial;
          flex: initial;
  width: 200px;
  min-width: 100px;
}
.none {
  -webkit-flex: none;
          flex: none;
  width: 200px;
}
.flex1 {
  -webkit-flex: 1;
          flex: 1;
}
.flex2 {
  -webkit-flex: 2;
          flex: 2;
}
{% endhighlight %}

<div class="container elem">

  <section class="elem elem-green initial">
    <span class="label">&lt;div class="initial"></span>
    <p>
      {% localize flexbox.fancy.1 %}
    </p>
    <span class="endlabel">&lt;/div></span>
  </section>

  <section class="elem elem-green none">
    <span class="label">&lt;div class="none"></span>
    <p>
      {% localize flexbox.fancy.2 %}
    </p>
    <span class="endlabel">&lt;/div></span>
  </section>

  <section class="elem elem-green flex1">
    <span class="label">&lt;div class="flex1"></span>
    <p>
      {% localize flexbox.fancy.3 %}
    </p>
    <span class="endlabel">&lt;/div></span>
  </section>

  <section class="elem elem-green flex2">
    <span class="label">&lt;div class="flex2"></span>
    <p>
      {% localize flexbox.fancy.4 %}
    </p>
    <span class="endlabel">&lt;/div></span>
  </section>

</div>

<h2 class="content">{% localize flexbox.centering.title %}</h2>

<style>
.vertical-container {
  display: -webkit-flex;
  display:         flex;
  height: 300px;
}
.vertically-centered {
  margin: auto;
}
</style>

{% highlight css %}
.vertical-container {
  display: -webkit-flex;
  display: flex;
  height: 300px;
}
.vertically-centered {
  margin: auto;
}
{% endhighlight %}

<div class="vertical-container elem">
  <span class="label">&lt;div class="vertical-container"></span>

  <section class="elem elem-green vertically-centered">
    <span class="label">&lt;div class="vertically-centered"></span>
    <p>
      {% localize flexbox.centering.1 %}
    </p>
    <span class="endlabel">&lt;/div></span>
  </section>

  <span class="endlabel">&lt;/div></span>
</div>