---
layout: default
title: "float"
next: float-2
prev: position-example
---

<p class="content">
  Another CSS property used for layout is <code>float</code>. Float is intended for wrapping text around images, like this:
</p>

<style>
  img {
    margin: 0 0 1em 1em;
    float: right;
  }
</style>

{% highlight css %}
img {
  float: right;
  margin: 0 0 1em 1em;
}
{% endhighlight %}

<p class="content ipsum">
  <img src="/images/ilta.jpg" alt="An Image">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.
</section>

<p class="content">
  Because there is no easy way to do layout in CSS, a lot of people use <code>float</code> for layouts like in the previous example. This can work, but I recommend avoiding it if you can stick to <code>position</code>. Since <code>float</code> wasn't made for complicated layouts, it can be unpredictable in complicated scenarios.
</p>