---
layout: default
title: float_layout.title
next: percent
prev: clearfix
num: 12
---

<p class="content">
  {% localize float_layout.1 %}
</p>

<style>
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  nav {
    float: left;
    width: 200px;
  }
  section {
    margin-left: 200px;
  }
</style>

{% highlight css %}
nav {
  float: left;
  width: 200px;
}
section {
  margin-left: 200px;
}
{% endhighlight %}

<div class="clearfix elem">
  <span class="label">&lt;div class="clearfix"></span>

  <nav class="elem elem-red">
    <span class="label">&lt;nav></span>
    <ul>
      <li>
        <a href="float-layout.html">{% localize util.nav.1 %}</a>
      </li>
      <li>
        <a href="float-layout.html">{% localize util.nav.2 %}</a>
      </li>
      <li>
        <a href="float-layout.html">{% localize util.nav.3 %}</a>
      </li>
      <li>
        <a href="float-layout.html">{% localize util.nav.4 %}</a>
      </li>
      <li>
        <a href="float-layout.html">{% localize util.nav.5 %}</a>
      </li>
      <li>
        <a href="float-layout.html">{% localize util.nav.6 %}</a>
      </li>
    </ul>
    <span class="endlabel">&lt;/nav></span>
  </nav>

  <section class="elem elem-green">
    <span class="label">&lt;section></span>
    <p>
      {% localize float_layout.2 %}
    </p>
    <span class="endlabel">&lt;/section></span>
  </section>

  <section class="elem elem-green ipsum">
    <span class="label">&lt;section></span>
    <p>
      {% localize util.ipsum %}
    </p>
    <span class="endlabel">&lt;/section></span>
  </section>

</div>