---
layout: default
title: "multiple floats and clear"
next: clearfix
prev: float
---

<p class="content">
  You can use multiple floated elements together to have them wrap when the page is resized.
</p>

<style>
  .box {
    float: left;
    width: 200px;
    height: 100px;
    margin: 1em;
  }
  .after-boxes {
    clear: left;
  }
</style>

{% highlight css %}
.box {
  float: left;
  width: 200px;
  height: 100px;
  margin: 1em;
}
.after-boxes {
  clear: left;
}
{% endhighlight %}

<p class="content">
  {% for i in (1..11) %}
  <div class="box elem">
    <span class="label">&lt;div class="box"></span>
    <p>
      I feel like I'm floating!
    </p>
    <span class="endlabel">&lt;/div></span>
  </div>
  {% endfor %}
</section>

<div class="elem elem-green after-boxes">
    <span class="label">&lt;div class="after-boxes"></span>
    <p>
      You need to put an element with the <code>clear</code> property after your floated elements. Otherwise it will wrap around the floated elements, like in the previous page!
    </p>
    <p>
      In this example I use a <code>clear</code> value of <code>left</code> because we are clearing elements that are floated to the left. You can also clear <code>right</code> and <code>both</code>.
    </p>
    <span class="endlabel">&lt;/div></span>
  </div>