---
layout: default
title: "css frameworks"
next: about
prev: flexbox
---

<p class="content">
  Because CSS layout is so tricky, there are CSS frameworks out there to help make it easier. Here are a few if you want to check them out. Using a framework is only good idea if the framework really does what you need your site to do. They're no replacement for knowing how CSS works.
</p>

<style>
  #logos {
    text-align: center;
    margin: 0 50px;
  }
  #logos img {
    margin: 5px;
    max-width: 300px;
    max-height: 100px;
    border: solid white 5px;
    vertical-align: middle;
  }
  #logos img:hover {
    border-color: #ffa;
  }
  #logos a:hover {
    background-color: transparent;
  }
</style>

<div id="logos">
  <a href="http://www.blueprintcss.org/"><img src="/images/blueprint.png" alt="blueprint"></a>
  <a href="http://960.gs/"><img src="/images/960.gif" alt="960"></a>
  <a href="http://bluetrip.org/"><img src="/images/bluetrip.png" alt="bluetrip"></a>
  <a href="http://elasticss.org/"><img src="/images/elasticss.png" alt="elasticss"></a>
  <a href="http://gumbyframework.com/"><img src="/images/gumby.png" alt="gumby"></a>
</div>

<p class="content">
  That's it! If you have any feedback on this site, please <a href="https://twitter.com/intent/tweet?source=webclient&text=%40_gsmith">let me know on Twitter</a>!
</p>