---
layout: default
title: frameworks.title
next: about
prev: flexbox
num: 19
---

<p class="content">
  {% localize frameworks.1 %}
</p>

<style>
  #logos {
    text-align: center;
    margin: 0 auto;
    padding: 0 50px;
    max-width: 1000px;
  }
  #logos img {
    margin: 5px;
    border: solid white 5px;
    vertical-align: middle;
    position: relative;
  }
  #logos img:hover {
    top: 1px;
  }
  #logos img:active {
    top: 2px;
  }
  #logos a:hover {
    background-color: transparent;
  }
</style>

<div id="logos">
  <a href="http://www.blueprintcss.org/"><img src="/images/blueprint.jpg" alt="blueprint"></a>
  <a href=" http://www.unsemantic.com"><img src="/images/unsemantic.png" alt="unsemantic"></a>
  <a href="http://bluetrip.org/"><img src="/images/bluetrip.jpg" alt="bluetrip"></a>
  <a href="http://elasticss.com/"><img src="/images/elasticss.jpg" alt="elasticss"></a>
  <a href="http://twitter.github.com/bootstrap/"><img src="/images/bootstrap.jpg" alt="bootstrap"></a>
  <a href="http://gumbyframework.com/"><img src="/images/gumby.jpg" alt="gumby"></a>
  <a href="http://susy.oddbird.net/"><img src="/images/susy.jpg" alt="susy"></a>
  <a href="http://foundation.zurb.com/"><img src="/images/foundation.png" alt="foundation"></a>
  <a href="http://imperavi.com/kube/"><img src="/images/kube.png" alt="kube"></a>
  <a href="http://groundworkcss.github.com/"><img src="/images/groundwork.gif" alt="groundwork"></a>
</div>

<p class="content">
  {% localize frameworks.2 %}
</p>