---
layout: default
noFooter: true
---

<style>
  html {
    height: 100%;
  }
  body {
    margin: 0;
    padding: 4em 0;
    height: 100%;
    display: -webkit-flex;
    display:         flex;
  }
  #container {
    margin: auto;
  }
  #about {
    max-width: 600px;
    margin: 2.5em auto 2em;
  }
  h1 {
    margin: 0;
  }
  .nav-wrapper {
    padding: 0;
  }
</style>

<div id="container">

  <h1>Learn CSS Layout</h1>
  <div id="about">
    <p>
      This site teaches the CSS fundamentals that are used in any CSS layout.
    </p>
    <p>
      I assume you already know how to make things colorful. You know what selectors, properties, and values are. And you probably know a thing or two about layout, though it may still be a rage-provoking activity for you. Let's see if we can save you some fury on your next project.
    </p>
  </div>

  <div class="nav-wrapper">
    <a class="nav start" href="no-layout.html">Get Started</a>
  </div>

</div>