---
layout: default
---

<h1>CSS Layout Crash Course</h1>
<div id="about">
  <p>
    Let's face it: doing layouts in CSS sucks.
  </p>
  <p>
    This site will lead you through a series of simple, practical examples of CSS layout techniques.
  </p>
  <p>
    I assume you already know how to make things colorful and pretty. And you probably know a thing or two about layout, though it may still be a rage-provoking activity for you. Let's see if we can save you some fury on your next project.
  </p>
</div>

<a class="next" href="no-layout.html">Get Started</a>