---
layout: default
title: inline_block_layout.title
next: column
prev: inline-block
num: 16
---

<div class="content">

  <p>
    {% localize inline_block_layout.1 %}
  </p>

  <ul>
    <li>{% localize inline_block_layout.caveat.1 %}
    <li>{% localize inline_block_layout.caveat.2 %}
    <li>{% localize inline_block_layout.caveat.3 %}
  </ul>
</div>

<style>
  nav.elem {
    display: inline-block;
    vertical-align: top;
    width: 25%;
  }
  .column {
    display: inline-block;
    vertical-align: top;
    width: 75%;
  }
</style>

{% highlight css %}
nav {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
.column {
  display: inline-block;
  vertical-align: top;
  width: 75%;
}
{% endhighlight %}

<div class="container elem">
  <span class="label">&lt;div class="container"></span>

  <nav class="elem elem-red">
    <span class="label">&lt;nav></span>
    <ul>
      <li>
        <a href="inline-block-layout.html">{% localize util.nav.1 %}</a>
      </li>
      <li>
        <a href="inline-block-layout.html">{% localize util.nav.2 %}</a>
      </li>
      <li>
        <a href="inline-block-layout.html">{% localize util.nav.3 %}</a>
      </li>
      <li>
        <a href="inline-block-layout.html">{% localize util.nav.4 %}</a>
      </li>
      <li>
        <a href="inline-block-layout.html">{% localize util.nav.5 %}</a>
      </li>
      <li>
        <a href="inline-block-layout.html">{% localize util.nav.6 %}</a>
      </li>
    </ul>
    <span class="endlabel">&lt;/nav></span>
  </nav><div class="elem elem-red column">
    <span class="label">&lt;div class="column"></span>

    <section class="elem elem-green">
      <span class="label">&lt;section></span>
      <p>
        {% localize inline_block_layout.tada %}
      </p>
      <span class="endlabel">&lt;/section></span>
    </section>

    <section class="elem elem-green ipsum">
      <span class="label">&lt;section></span>
      <p>
        {% localize util.ipsum %}
      </p>
      <span class="endlabel">&lt;/section></span>
    </section>

    <span class="endlabel">&lt;/div></span>
  </div>

</div>