---
layout: default
title: inline_block.title
next: inline-block-layout
prev: media-queries
num: 15
---

<p class="content">
  {% localize inline_block.1 %}
</p>

<div class="content">
  <h2>{% localize inline_block.hard_way.title %}</h2>
</div>

<style>
  .box {
    float: left;
    width: 200px;
    height: 100px;
    margin: 1em;
  }
  .after-box {
    clear: left;
  }
</style>

{% highlight css %}
.box {
  float: left;
  width: 200px;
  height: 100px;
  margin: 1em;
}
.after-box {
  clear: left;
}
{% endhighlight %}

<p class="content">
  {% for i in (1..11) %}
    <div class="box elem">
      <span class="label">&lt;div class="box"></span>
      <p>
        {% localize inline_block.hard_way.box %}
      </p>
      <span class="endlabel">&lt;/div></span>
    </div>
  {% endfor %}

  <section class="elem elem-green after-box">
    <span class="label">&lt;div class="after-box"></span>
    <p>
      {% localize inline_block.hard_way.after %}
    </p>
    <span class="endlabel">&lt;/div></span>
  </section>
</p>

<div class="content">
  <h2>{% localize inline_block.easy_way.title %}</h2>
  <p>
    {% localize inline_block.easy_way.info %}
  </p>
</div>

<style>
  .box2 {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 1em;
  }
</style>

{% highlight css %}
.box2 {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}
{% endhighlight %}

<p class="content">
  {% for i in (1..11) %}
    <div class="box2 elem">
      <span class="label">&lt;div class="box2"></span>
      <p>
        {% localize inline_block.easy_way.box %}
      </p>
      <span class="endlabel">&lt;/div></span>
    </div>
  {% endfor %}

  <section class="elem elem-green">
    <span class="label">&lt;div></span>
    <p>
      {% localize inline_block.easy_way.after %}
    </p>
    <span class="endlabel">&lt;/div></span>
  </section>
</p>

<p class="content">
  {% localize inline_block.2 %}
</p>