---
layout: default
title: "media queries"
next: inline-block
prev: percent
---

<p class="content">
  "Responsive Design" is the strategy of making a site that "responds" to the browser and device that it is being shown on... by looking awesome no matter what.
</p>

<p class="content">
  Media queries are the most powerful tool for doing this. Let's take our layout that uses percent widths and have it display in one column when the browser is too small to fit the menu in the sidebar:
</p>

<style>
  @media screen and (min-width:600px) {
    nav.elem {
      float: left;
      width: 25%;
    }
    section {
      margin-left: 25%;
    }
  }
  @media screen and (max-width:599px) {
    nav li {
      display: inline;
    }
  }
</style>

{% highlight css %}
@media screen and (min-width:600px) {
  nav {
    float: left;
    width: 25%;
  }
  section {
    margin-left: 25%;
  }
}
@media screen and (max-width:599px) {
  nav li {
    display: inline;
  }
}
{% endhighlight %}

<div class="container elem">
  <span class="label">&lt;div class="container"></span>

  <nav class="elem elem-red">
    <span class="label">&lt;nav></span>
    <ul>
      <li>
        <a href="percent.html">Home</a>
      </li>
      <li>
        <a href="percent.html">Taco Menu</a>
      </li>
      <li>
        <a href="percent.html">Draft List</a>
      </li>
      <li>
        <a href="percent.html">Hours</a>
      </li>
      <li>
        <a href="percent.html">Directions</a>
      </li>
      <li>
        <a href="percent.html">Contact</a>
      </li>
    </ul>
    <span class="endlabel">&lt;/nav></span>
  </nav>

  <section class="elem elem-green">
    <span class="label">&lt;section></span>
    <p>
      The <code>margin-left</code> style for <code>section</code>s makes sure there is room for the <code>nav</code>.
    </p>
    <span class="endlabel">&lt;/section></span>
  </section>

  <section class="elem elem-green ipsum">
    <span class="label">&lt;section></span>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.
    </p>
    <span class="endlabel">&lt;/section></span>
  </section>

  <section class="elem elem-green">
    <span class="label">&lt;section></span>
    <p>
      Now when you resize your browser it's even cooler than ever!
    </p>
    <span class="endlabel">&lt;/section></span>
  </section>

</div>

<p class="content">
  Tada! Now our layout looks great even on mobile browsers. Here are <a href="http://mediaqueri.es/">some popular sites that use media queries this way</a>. There is a whole lot more you can detect than <code>min-width</code> and <code>max-width</code>: check out <a href="https://developer.mozilla.org/en-US/docs/CSS/Media_queries">the MDN documentation</a> to learn more.
</p>

<div class="content">
  <h2>extra credit</h2>
  <p>
    You can make your layout look even better on mobile using <a href="http://dev.opera.com/articles/view/an-introduction-to-meta-viewport-and-viewport/">meta viewport</a>.
  </p>
</div>