---
layout: default
title: media_queries.title
next: inline-block
prev: percent
num: 14
---

<p class="content">
  {% localize media_queries.1 %}
</p>

<p class="content">
  {% localize media_queries.2 %}
</p>

<style>
  @media screen and (min-width:600px) {
    nav.elem {
      float: left;
      width: 25%;
    }
    section {
      margin-left: 25%;
    }
  }
  @media screen and (max-width:599px) {
    nav li {
      display: inline;
    }
  }
</style>

{% highlight css %}
@media screen and (min-width:600px) {
  nav {
    float: left;
    width: 25%;
  }
  section {
    margin-left: 25%;
  }
}
@media screen and (max-width:599px) {
  nav li {
    display: inline;
  }
}
{% endhighlight %}

<div class="container elem">
  <span class="label">&lt;div class="container"></span>

  <nav class="elem elem-red">
    <span class="label">&lt;nav></span>
    <ul>
      <li>
        <a href="percent.html">Home</a>
      </li>
      <li>
        <a href="percent.html">Taco Menu</a>
      </li>
      <li>
        <a href="percent.html">Draft List</a>
      </li>
      <li>
        <a href="percent.html">Hours</a>
      </li>
      <li>
        <a href="percent.html">Directions</a>
      </li>
      <li>
        <a href="percent.html">Contact</a>
      </li>
    </ul>
    <span class="endlabel">&lt;/nav></span>
  </nav>

  <section class="elem elem-green">
    <span class="label">&lt;section></span>
    <p>
      {% localize media_queries.3 %}
    </p>
    <span class="endlabel">&lt;/section></span>
  </section>

  <section class="elem elem-green ipsum">
    <span class="label">&lt;section></span>
    <p>
      {% localize util.ipsum %}
    </p>
    <span class="endlabel">&lt;/section></span>
  </section>

</div>

<p class="content">
  {% localize media_queries.4 %}
</p>

<div class="content">
  <h2>{% localize util.extra_credit %}</h2>
  <p>
    {% localize media_queries.5 %}
  </p>
</div>