---
layout: default
title: percent.title
next: media-queries
prev: float-layout
num: 13
---

<p class="content">
  {% localize percent.1 %}
</p>

<style>
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  article img {
    float: right;
    width: 50%;
  }
</style>

{% highlight css %}
article img {
  float: right;
  width: 50%;
}
{% endhighlight %}

<article class="elem elem-green content clearfix">
  <span class="label">&lt;article class="clearfix"></span>
  <img src="images/ilta.png" alt="an image">
  <p>
    {% localize percent.2 %}
  </p>
  <span class="endlabel">&lt;/article></span>
</article>

<div class="content">
  <h2>{% localize percent.layout.title %}</h2>
</div>

<p class="content">
  {% localize percent.layout.1 %}
</p>

<style>
  nav.elem {
    float: left;
    width: 25%;
  }
  section {
    margin-left: 25%;
  }
</style>

{% highlight css %}
nav {
  float: left;
  width: 25%;
}
section {
  margin-left: 25%;
}
{% endhighlight %}

<div class="container elem">
  <span class="label">&lt;div class="container"></span>

  <nav class="elem elem-red">
    <span class="label">&lt;nav></span>
    <ul>
      <li>
        <a href="percent.html">{% localize util.nav.1 %}</a>
      </li>
      <li>
        <a href="percent.html">{% localize util.nav.2 %}</a>
      </li>
      <li>
        <a href="percent.html">{% localize util.nav.3 %}</a>
      </li>
      <li>
        <a href="percent.html">{% localize util.nav.4 %}</a>
      </li>
      <li>
        <a href="percent.html">{% localize util.nav.5 %}</a>
      </li>
      <li>
        <a href="percent.html">{% localize util.nav.6 %}</a>
      </li>
    </ul>
    <span class="endlabel">&lt;/nav></span>
  </nav>

  <section class="elem elem-green">
    <span class="label">&lt;section></span>
    <p>
      {% localize percent.layout.2 %}
    </p>
    <span class="endlabel">&lt;/section></span>
  </section>

  <section class="elem elem-green ipsum">
    <span class="label">&lt;section></span>
    <p>
      {% localize util.ipsum %}
    </p>
    <span class="endlabel">&lt;/section></span>
  </section>

</div>