---
layout: default
title: "percent width"
next: media-queries
prev: float-layout
---

<p class="content">
  Percent is a measurement unit relative to the containing block. It's great for images: here we make an image that is always 50% the width of its container. Try shrinking down the page to see what happens!
</p>

<style>
  .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  article img {
    float: right;
    width: 50%;
  }
</style>

{% highlight css %}
article img {
  float: right;
  width: 50%;
}
{% endhighlight %}

<article class="elem elem-green content clearfix">
  <span class="label">&lt;article class="clearfix"></span>
  <img src="images/ilta.png" alt="an image">
  <p>
    You could even use <code>min-width</code> and <code>max-width</code> to limit how big or small the image can get!
  </p>
  <span class="endlabel">&lt;/article></span>
</article>

<div class="content">
  <h2>percent width layout</h2>
</div>

<p class="content">
  You can use percent for layout, but this can require more work. In this example, the <code>nav</code> content starts to wrap in a displeasing way when the window is too narrow. It comes down to what works for your content.
</p>

<style>
  nav.elem {
    float: left;
    width: 25%;
  }
  section {
    margin-left: 25%;
  }
</style>

{% highlight css %}
nav {
  float: left;
  width: 25%;
}
section {
  margin-left: 25%;
}
{% endhighlight %}

<div class="container elem">
  <span class="label">&lt;div class="container"></span>

  <nav class="elem elem-red">
    <span class="label">&lt;nav></span>
    <ul>
      <li>
        <a href="percent.html">Home</a>
      </li>
      <li>
        <a href="percent.html">Taco Menu</a>
      </li>
      <li>
        <a href="percent.html">Draft List</a>
      </li>
      <li>
        <a href="percent.html">Hours</a>
      </li>
      <li>
        <a href="percent.html">Directions</a>
      </li>
      <li>
        <a href="percent.html">Contact</a>
      </li>
    </ul>
    <span class="endlabel">&lt;/nav></span>
  </nav>

  <section class="elem elem-green">
    <span class="label">&lt;section></span>
    <p>
      When this layout is too narrow, the <code>nav</code> gets squished. Worse, you can't use <code>min-width</code> on the nav to fix it, because the right column wouldn't respect it.
    </p>
    <span class="endlabel">&lt;/section></span>
  </section>

  <section class="elem elem-green ipsum">
    <span class="label">&lt;section></span>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.
    </p>
    <span class="endlabel">&lt;/section></span>
  </section>

</div>