---
layout: default
title: "percent width"
next: media-queries
prev: float-layout
---

<p class="content">
  For some sites it's preferable to use percent widths. This can require more work. In this example, the <code>nav</code> content starts to wrap in a displeasing way when the window is too narrow. It comes down to what works for your content.
</p>

<style>
  nav.elem {
    float: left;
    width: 25%;
  }
  section {
    margin-left: 25%;
  }
</style>

{% highlight css %}
nav {
  float: left;
  width: 25%;
}
section {
  margin-left: 25%;
}
{% endhighlight %}

<div class="container elem">
  <span class="label">&lt;div class="container"></span>

  <nav class="elem elem-red">
    <span class="label">&lt;nav></span>
    <ul>
      <li>
        <a href="percent.html">Home</a>
      </li>
      <li>
        <a href="percent.html">Taco Menu</a>
      </li>
      <li>
        <a href="percent.html">Draft List</a>
      </li>
      <li>
        <a href="percent.html">Hours</a>
      </li>
      <li>
        <a href="percent.html">Directions</a>
      </li>
      <li>
        <a href="percent.html">Contact</a>
      </li>
    </ul>
    <span class="endlabel">&lt;/nav></span>
  </nav>

  <section class="elem elem-green">
    <span class="label">&lt;section></span>
    <p>
      When this layout is too narrow, the <code>nav</code> gets squished.
    </p>
    <span class="endlabel">&lt;/section></span>
  </section>

  <section class="elem elem-green ipsum">
    <span class="label">&lt;section></span>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus imperdiet, nulla et dictum interdum, nisi lorem egestas odio, vitae scelerisque enim ligula venenatis dolor. Maecenas nisl est, ultrices nec congue eget, auctor vitae massa. Fusce luctus vestibulum augue ut aliquet. Mauris ante ligula, facilisis sed ornare eu, lobortis in odio. Praesent convallis urna a lacus interdum ut hendrerit risus congue. Nunc sagittis dictum nisi, sed ullamcorper ipsum dignissim ac. In at libero sed nunc venenatis imperdiet sed ornare turpis. Donec vitae dui eget tellus gravida venenatis. Integer fringilla congue eros non fermentum. Sed dapibus pulvinar nibh tempor porta. Cras ac leo purus. Mauris quis diam velit.
    </p>
    <span class="endlabel">&lt;/section></span>
  </section>

</div>