---
layout: default
title: position_example.title
next: float
prev: position
num: 8
---

<p class="content">
  {% localize position_example.1 %}
</p>

<style>
  .container {
    position: relative;
  }
  nav.elem {
    position: absolute;
    left: 0px;
    width: 200px;
  }
  section {
    /* position is static by default */
    margin-left: 200px;
  }
  footer.elem {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 90px;
    background-color: white;
    width: 100%;
    margin: 0;
    z-index: 1;
  }
  body {
    margin-bottom: 120px;
  }
</style>

{% highlight css %}
.container {
  position: relative;
}
nav {
  position: absolute;
  left: 0px;
  width: 200px;
}
section {
  /* position is static by default */
  margin-left: 200px;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: white;
  width: 100%;
}
body {
  margin-bottom: 120px;
}
{% endhighlight %}

<div class="container elem">
  <span class="label">&lt;div class="container"></span>

  <nav class="elem elem-red">
    <span class="label">&lt;nav></span>
    <ul>
      <li>
        <a href="position-example.html">{% localize util.nav.1 %}</a>
      </li>
      <li>
        <a href="position-example.html">{% localize util.nav.2 %}</a>
      </li>
      <li>
        <a href="position-example.html">{% localize util.nav.3 %}</a>
      </li>
      <li>
        <a href="position-example.html">{% localize util.nav.4 %}</a>
      </li>
      <li>
        <a href="position-example.html">{% localize util.nav.5 %}</a>
      </li>
      <li>
        <a href="position-example.html">{% localize util.nav.6 %}</a>
      </li>
    </ul>
    <span class="endlabel">&lt;/nav></span>
  </nav>

  <section class="elem elem-green">
    <span class="label">&lt;section></span>
    <p>
      {% localize position_example.section.1 %}
    </p>
    <span class="endlabel">&lt;/section></span>
  </section>

  <section class="elem elem-green ipsum">
    <span class="label">&lt;section></span>
    <p>
      {% localize util.ipsum %}
    </p>
    <span class="endlabel">&lt;/section></span>
  </section>

  <section class="elem elem-green">
    <span class="label">&lt;section></span>
    <p>
      {% localize position_example.section.2 %}
    </p>
    <span class="endlabel">&lt;/section></span>
  </section>

  <footer class="elem elem-orange">
    <span class="label">&lt;footer></span>
    <p>
      {% localize position_example.footer %}
    </p>
    <span class="endlabel">&lt;/footer></span>
  </footer>

</div>

<p class="content">
  {% localize position_example.2 %}
</p>