---
layout: default
title: "position"
next: position-example
prev: box-sizing
---

<p class="content">
  In order to make more complex layouts, we need to discuss the <code>position</code> property. It has a bunch of possible values, and their names make no sense and are impossible to remember. Let's go through them one by one, but maybe you should bookmark this page too.
</p>

<h2 class="content">static</h2>

{% highlight css %}
.static {
  position: static;
}
{% endhighlight %}

<div class="elem">
  <span class="label">&lt;div class="static"></span>
  <p>
    <code>static</code> is the default value. An element with <code>position: static;</code> is not positioned in any special way. A static element is said to be <em>not positioned</em> and an element with its position set to anything else is said to be <em>positioned</em>.
  </p>
  <span class="endlabel">&lt;/div></span>
</div>

<h2 class="content">relative</h2>

<style>
  .relative1 {
    position: relative;
  }
  .relative2 {
    position: relative;
    top: -20px;
    left: 20px;
    background-color: white;
    width: 500px;
  }
</style>

{% highlight css %}
.relative1 {
  position: relative;
}
.relative2 {
  position: relative;
  top: -20px;
  left: 20px;
  background-color: white;
  width: 500px;
}
{% endhighlight %}

<div class="relative1 elem">
  <span class="label">&lt;div class="relative1"></span>
  <p>
    <code>relative</code> behaves the same as <code>static</code> unless you add some extra properties.
  </p>
  <span class="endlabel">&lt;/div></span>
</div>

<div class="relative2 elem elem-red">
  <span class="label">&lt;div class="relative2"></span>
  <p>
    Setting the <code>top</code>, <code>right</code>, <code>bottom</code>, and <code>left</code> properties of a relatively-positioned element will cause it to be adjusted away from its normal position. Other content will not be adjusted to fit into any gap left by the element.
  </p>
  <span class="endlabel">&lt;/div></span>
</div>

<h2 class="content">fixed</h2>

<style>
  .fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    background-color: white;
  }
</style>

<div class="fixed elem elem-green">
  <span class="label">&lt;div class="fixed"></span>
  <p>
    Hello! Don't pay attention to me yet.
  </p>
  <span class="endlabel">&lt;/div></span>
</div>

<p class="content">
  A fixed element is positioned relative to the viewport, which means it always stays in the same place even if the page is scrolled. As with <code>relative</code>, the <code>top</code>, <code>right</code>, <code>bottom</code>, and <code>left</code> properties are used.
</p>

<p class="content">
  I'm sure you've noticed that fixed element in the lower-right hand corner of the page. I'm giving you permission to pay attention to it now. Here is the CSS that puts it there:
</p>

{% highlight css %}
.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: white;
}
{% endhighlight %}

<p class="content">
  One last detail about fixed: A fixed element does not leave a gap in the page where it would normally have been located.
</p>

<h2 class="content">absolute</h2>

<style>
  .relative {
    position: relative;
    width: 600px;
    height: 400px;
  }
  .absolute {
    position: absolute;
    top: 120px;
    right: 0;
    width: 300px;
    height: 200px;
  }
</style>

<p class="content">
  <code>absolute</code> is the trickiest position value. <code>absolute</code> behaves like <code>fixed</code> except relative to <em>the nearest positioned ancestor</em> instead of relative to the viewport. If an absolutely-positioned element has no positioned ancestors, it uses the document body, and still moves along with page scrolling. Remember, a "positioned" element is one whose position is anything except <code>static</code>.
</p>

<p class="content">
  Here is a simple example:
</p>

{% highlight css %}
.relative {
  position: relative;
  width: 600px;
  height: 400px;
}
.absolute {
  position: absolute;
  top: 120px;
  right: 0;
  width: 300px;
  height: 200px;
}
{% endhighlight %}

<div class="relative elem">
  <span class="label">&lt;div class="relative"></span>
  <p>
    This element is relatively-positioned. If this element was <code>position: static;</code> its absolutely-positioned child would escape and would be positioned relative to the document body.
  </p>
  <div class="absolute elem elem-red">
    <span class="label">&lt;div class="absolute"></span>
    <p>
      This element is absolutely-positioned. It's positioned relative to its parent.
    </p>
    <span class="endlabel">&lt;/div></span>
  </div>
  <span class="endlabel">&lt;/div></span>
</div>

<p class="content">
  This stuff is tricky, but it's essential to creating great CSS layouts. On the next page we'll use <code>position</code> in a more practical example.
</p>