---
layout: default
title: position.title
next: position-example
prev: box-sizing
num: 7
---

<p class="content">
  {% localize position.intro %}
</p>

<h2 class="content">
  {% localize position.static.title %}
</h2>

{% highlight css %}
.static {
  position: static;
}
{% endhighlight %}

<div class="elem">
  <span class="label">&lt;div class="static"></span>
  <p>
    {% localize position.static.1 %}
  </p>
  <span class="endlabel">&lt;/div></span>
</div>

<h2 class="content">
  {% localize position.relative.title %}
</h2>

<style>
  .relative1 {
    position: relative;
  }
  .relative2 {
    position: relative;
    top: -20px;
    left: 20px;
    background-color: white;
    width: 500px;
  }
</style>

{% highlight css %}
.relative1 {
  position: relative;
}
.relative2 {
  position: relative;
  top: -20px;
  left: 20px;
  background-color: white;
  width: 500px;
}
{% endhighlight %}

<div class="relative1 elem">
  <span class="label">&lt;div class="relative1"></span>
  <p>
    {% localize position.relative.1 %}
  </p>
  <span class="endlabel">&lt;/div></span>
</div>

<div class="relative2 elem elem-red">
  <span class="label">&lt;div class="relative2"></span>
  <p>
    {% localize position.relative.2 %}
  </p>
  <span class="endlabel">&lt;/div></span>
</div>

<h2 class="content">
  {% localize position.fixed.title %}
</h2>

<style>
  .fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    background-color: white;
    z-index: 9999;
  }
</style>

<div class="fixed elem elem-green">
  <span class="label">&lt;div class="fixed"></span>
  <p>
    {% localize position.fixed.example %}
  </p>
  <span class="endlabel">&lt;/div></span>
</div>

<p class="content">
  {% localize position.fixed.1 %}
</p>

<p class="content">
  {% localize position.fixed.2 %}
</p>

{% highlight css %}
.fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  background-color: white;
}
{% endhighlight %}

<p class="content">
  {% localize position.fixed.3 %}
</p>

<p class="content">
  {% localize position.fixed.4 %}
</p>

<h2 class="content">
  {% localize position.absolute.title %}
</h2>

<style>
  .relative {
    position: relative;
    width: 600px;
    height: 400px;
  }
  .absolute {
    position: absolute;
    top: 120px;
    right: 0;
    width: 300px;
    height: 200px;
  }
</style>

<p class="content">
  {% localize position.absolute.1 %}
</p>

<p class="content">
  {% localize position.absolute.2 %}
</p>

{% highlight css %}
.relative {
  position: relative;
  width: 600px;
  height: 400px;
}
.absolute {
  position: absolute;
  top: 120px;
  right: 0;
  width: 300px;
  height: 200px;
}
{% endhighlight %}

<div class="relative elem">
  <span class="label">&lt;div class="relative"></span>
  <p>
    {% localize position.absolute.relative %}
  </p>
  <div class="absolute elem elem-red">
    <span class="label">&lt;div class="absolute"></span>
    <p>
      {% localize position.absolute.absolute %}
    </p>
    <span class="endlabel">&lt;/div></span>
  </div>
  <span class="endlabel">&lt;/div></span>
</div>

<p class="content">
  {% localize position.absolute.3 %}
</p>