---
layout: default
---

<style>
#toc {
  line-height: 1.5em;
  padding-left: 0;
}

#toc ul {
  padding: 0;
  width: 90%;
  margin: auto;
}

#toc li {
  list-style-type:none; 
  margin-bottom: .5em;
}

#toc li a {
  display: block;
  text-align: center;
  padding: .5em;
  color: #fff;
  background-color: #D64078;
  border: solid #B03060 1px;
  border-bottom: solid #B03060 4px;
  text-shadow: 0px 2px 0 #B03060;
  border-radius: .3em;
  position: relative;
  -webkit-transition: all 0.1s ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: all 0.1s ease-out;  /* Firefox 4-15 */
       -o-transition: all 0.1s ease-out;  /* Opera 10.5–12.00 */
          transition: all 0.1s ease-out;  /* Firefox 16+, Opera 12.50+ */
}

#toc li a:hover {
  text-decoration: none;
  background-color: #c63b6f;
}

#toc li a:active {
  border-bottom: solid #b03060 1px;
  top: 4px;
  -webkit-transition: all 0 ease-out;  /* Safari 3.2+, Chrome */
     -moz-transition: all 0 ease-out;  /* Firefox 4-15 */
       -o-transition: all 0 ease-out;  /* Opera 10.5–12.00 */
          transition: all 0 ease-out;  /* Firefox 16+, Opera 12.50+ */
}


@media screen and (min-width:601px) {
  #toc {
    -moz-column-count: 2;
    -moz-column-gap: 1em;
    -webkit-column-count: 2;
    -webkit-column-gap: 1em;
    column-count: 2;
    column-gap: 1em;
    line-height: 1.2em;
  }
}
</style>

<div class="content">

  <h1>{% localize global.toc %}</h1>
  
  <ul id="toc">
    <li>
      <ul>
        <li><a href="no-layout.html">{% localize no_layout.title %}</a></li>
        <li><a href="display.html">{% localize display.title %}</a></li>
        <li><a href="margin-auto.html">{% localize margin_auto.title %}</a></li>
        <li><a href="max-width.html">{% localize max_width.title %}</a></li>
        <li><a href="box-model.html">{% localize box_model.title %}</a></li>
        <li><a href="box-sizing.html">{% localize box_sizing.title %}</a></li>
        <li><a href="position.html">{% localize position.title %}</a></li>
        <li><a href="position-example.html">{% localize position_example.title %}</a></li>
        <li><a href="float.html">{% localize float.title %}</a></li>
        <li><a href="clear.html">{% localize clear.title %}</a></li>
        <li><a href="clearfix.html">{% localize clearfix.title %}</a></li>
        <li><a href="float-layout.html">{% localize float_layout.title %}</a></li>
        <li><a href="percent.html">{% localize percent.title %}</a></li>
        <li><a href="media-queries.html">{% localize media_queries.title %}</a></li>
        <li><a href="inline-block.html">{% localize inline_block.title %}</a></li>
        <li><a href="inline-block-layout.html">{% localize inline_block_layout.title %}</a></li>
        <li><a href="column.html">{% localize column.title %}</a></li>
        <li><a href="flexbox.html">{% localize flexbox.title %}</a></li>
        <li><a href="frameworks.html">{% localize frameworks.title %}</a></li>
        <li><a href="about.html">{% localize about.title %}</a></li>
      </ul>
    </li>
  </ul>

</div>